.half-width{
    width: 50%;
    float: left;
}
.half-width img{
    width: 100%;
}
section{
    height: 400px;
}
.one-third{
    width: 33.33%;
    float: left;
}
.one-third h1{
    text-align: center;
}
.one-third img{
    width: 100%;
}
button{
    padding: 10px 20px;
    background-color: coral;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid yellow;
}